@charset "utf-8";

html{
    font-size: 100%;
}
body{
    color: #383e45;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
}

.sitetitle{
    width: 150px;

}

.sitetitle a{
    display: block;
}

.head{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.head nav ul{
    display: flex;
    padding: 20px ;

}
.head li{
    margin-left: 20px;
}

#mainvisual img{
    max-width: 1920px;
    width: 100%;
    height: 700px;
    object-fit: cover;
    /* 拡大縮小してもアスペクト比が保たれる */
}